[Desktop Entry]
Name=Calculator
Name[zh_CN]=计算器
Exec=cutefish-calculator
Icon=cutefish-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Calculator;
